@use '../util/functions' as u;
@use '../globals/colors' as g;

@mixin flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin focused {
	background-color: g.$Soft-Blue;
	color: g.$white;
	border: none;

	padding-block: u.em(15);
	padding-inline:clamp(u.em(7),2vw,u.em(15));
	font-size: clamp(u.rem(15), 3vw, u.rem(20));
	border-radius: u.em(4);
	cursor: pointer;
	box-shadow: 0 u.rem(3) u.rem(5) u.rem(-1) g.$Soft-Blue2;
	outline: 1px solid g.$Soft-Blue;
	font-weight: 400;
	margin-right: u.em(5);
}

@mixin normal {
	background-color: g.$white;
	color: g.$Very-Dark-Blue;
	border: none;
	padding-block: u.em(15);
	padding-inline:clamp(u.em(7),2vw,u.em(15));
	font-size: clamp(u.rem(15), 3vw, u.rem(20));
	border-radius: u.em(4);
	cursor: pointer;
	box-shadow: 0 u.rem(3) u.rem(5) u.rem(-1) g.$Soft-Blue2;
	outline: 1px solid g.$white;
	font-weight: 400;
	margin-left: u.em(5);
}
