@use '../util/' as u;
@use '../globals/' as g;
.faq-section {
	.container {
		margin-bottom: u.em(50);
		.faq-header {
			padding-top: u.em(80);
			margin-bottom: u.em(50);
		}
		.faq {
			width: min(100% - u.em(20), u.rem(700));
			margin-inline: auto;
			.question {
				position: relative;
				max-height: u.rem(60);
				transition: 0.4s ease;
				overflow: hidden;
				cursor: pointer;
				-webkit-user-drag: none;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;

				&::before {
					content: '';
					position: absolute;
					bottom: -0px;
					left: 0;
					width: 100%;
					height: u.rem(1);
					background-color: g.$Grayish-Blue;
				}
				.faq-question {
					text-align: left;
					@include u.flex;
					margin-bottom: u.em(20);
					.img {
						width: u.rem(13);
						height: u.rem(13);
						aspect-ratio: 1;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
					}

					h6 {
						font-size: clamp(u.rem(7), u.rem(8) + 2vw, u.rem(23));
						margin-bottom: 0;
						&:hover {
							color: g.$Soft-Red;
						}
					}
				}
				p {
					text-align: left;
					line-height: 1.5;

					margin: 0;
				}
			}
			.height {
				max-height: u.rem(300);
				p {
					@include u.smoothe(0.5s, ease);
				}
			}
		}
		.focused {
			@include u.focused;
			display: block;
			width: u.rem(130);
			margin-inline: auto;
			margin-top: u.em(60);
		}
	}
}
