@use '../util' as u;
@use '../globals' as g;

footer {
	background-color: g.$Very-Dark-Blue;
	padding: u.em(20) 0 u.em(10) 0;
	.container {
		@include u.flex;
		flex-direction: column;
		.left-container {
			text-align: center;
			.logo {
				margin-bottom: u.em(20);
			}
			.nav {
				@include u.flex;
				flex-direction: column;
				li {
					margin-block: u.em(8);
					a {
						color: g.$white;
						font-weight: 400;
						text-transform: uppercase;
						font-size: u.rem(15);
					}
				}
			}
		}
		.right-container {
			.social {
				margin-top: u.em(30);
				@include u.flex;
				gap: u.rem(45);
			}
		}

		@include u.breakpoints(small) {
			flex-direction: row;
			.left-container {
				@include u.flex;
				justify-content: center;
				.logo {
					margin-bottom: 0;
					margin-right: u.em(50);
				}
				.nav {
					flex-direction: row;
					gap: u.rem(50);
				}
			}
			.right-container {
				.social {
					margin-top: 0;
					gap: u.rem(30);
				}
			}
		}
	}
	.attribution {
		font-size: clamp(u.rem(10), u.rem(7) + 2vw, u.rem(15));
		margin-top: u.em(70);
		color: g.$white;
		text-align: center;
		a {
			color: g.$Grayish-Blue;
			text-transform: uppercase;
		}
		@include u.breakpoints(small) {
			.attribution {
				margin-top: u.em(15);
			}
		}
	}
}
