@use '../util' as u;
@use '../globals' as g;
main {
	position: relative;
	.hero-section {
		overflow-x: hidden;
		margin-top: clamp(u.rem(95), 20vw, u.em(160));
		.container {
			display: grid;
			grid-template-columns: 1fr;
			justify-content: space-between;
			align-items: center;
			caret-color: transparent;
			
			.left-container {
				order: 2;
				.hero-buttons {
					margin-top: u.em(30);
					margin-bottom: u.em(20);
					@include u.flex;
					justify-content: center;
					.focused {
						@include u.focused;
					}
					.normal {
						@include u.normal;
					}
				}
			}
			.right-container {
				position: relative;
				&::before {
					content: '';
					z-index: -1;
					position: absolute;
					bottom: 0;
					right: u.rem(-90);
					width: 100%;
					height: clamp(u.rem(160), 50vw, u.rem(370));
					background-color: g.$Soft-Blue;
					border-bottom-left-radius: u.rem(80);
				}
			}
			@include u.breakpoints(medium) {
				grid-template-columns: u.rem(465) u.rem(650);
				.left-container {
					order: 1;
					h1,
					p {
						text-align: left;
						margin-top:0;
					}
					.hero-buttons {
						justify-content: start;
					}
				}
				.right-container {
					order: 2;
					&::before {
						right: u.rem(-180);
					}
				}
			}
		}
	}
}
