@use '../util/' as u;
@use '../globals/' as g;
.feature {
	padding-top: u.em(90);
	.container {
		.tabs-section {
			margin-top: u.em(50);
			.line {
				width: min(100%, u.rem(600));
				margin-inline: auto;
				height: u.rem(1);
				background-color: g.$Grayish-Blue;
				display: none;
				@include u.breakpoints(small-m) {
					display: block;
					margin-bottom: u.em(40);
				}
			}
			.tab-header {
				display: grid;
				align-items: center;
				grid-template-columns: 1fr;
				margin-bottom: 4rem;
				width: clamp(100% - 5px, 36px + 4vw, u.rem(550));
				margin-inline: auto;
				@include u.breakpoints(small-m) {
					grid-template-columns: 1fr 1fr 1fr;
					justify-items: center;
					max-width: u.rem(600);
					margin-bottom: 0;
					gap: u.rem(20);
				}

				.tab {
					position: relative;
					li {
						width: fit-content;
						margin: 0 auto;
						text-align: center;
						padding-block: u.em(20);
						margin-inline: auto;
						list-style: none;
						color: g.$Grayish-Blue;
						cursor: pointer;
						transition: color 0.4s ease;
						&:hover {
							color: g.$Very-Dark-Blue;
						}
						@include u.breakpoints(small-m) {
							margin: 0;
						}
					}

					&::after {
						content: '';
						position: absolute;
						top: u.em(0);
						left: 0;
						height: u.rem(1);
						width: 100%;
						margin: 0 auto;
						background-color: g.$Grayish-Blue;
						@include u.breakpoints(small-m) {
							display: none;
						}
					}
				}
				.last-child {
					li {
						position: relative;
						@include u.breakpoints(small-m) {
							margin: 0;
						}
					}
					&::before {
						content: '';
						position: absolute;
						bottom: u.em(-1);
						left: 0;
						height: u.rem(1);
						width: 100%;
						margin: 0 auto;
						background-color: g.$Grayish-Blue;
						@include u.breakpoints(small-m) {
							display: none;
						}
					}
				}
			}
			.tab-body {
				.tab-container {
					display: none;

					.left-container {
						margin-bottom: clamp(u.em(0), u.rem(50) + 15vw, u.rem(150));
						position: relative;
						&::before {
							content: '';
							z-index: -1;
							position: absolute;
							bottom: u.rem(-90);
							left: u.rem(-90);
							width: min(100%, u.rem(500));
							height: clamp(u.rem(250), u.rem(150) + 2vw, u.rem(700));
							background-color: g.$Soft-Blue;
							border-bottom-right-radius: u.rem(90);
							@include u.breakpoints(large) {
								height: u.rem(350);
								bottom: u.rem(-60);
							}
						}
						img {
							width: min(100%, u.rem(500));
						}
					}
					.right-container {
						h5,
						h3,
						h4 {
							margin-top: 0;
						}
						button {
							@include u.focused;
							display: none;
						}
					}
				}
				.active {
					display: grid;
					grid-template-columns: 1fr;
					@include u.breakpoints(small-m) {
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
						gap: u.rem(30);
					}

					.left-container {
						@include u.transform-left(0.3s, ease);
						@include u.breakpoints(small-m) {
							margin: 0;
						}
					}
					.right-container {
						@include u.transform-right(0.3s, ease-in);
						@include u.breakpoints(small-m) {
							align-self: center;
							h3,
							h4,
							h5,
							p {
								text-align: left;
							}
							p {
								margin: 0;
								font-size: clamp(u.rem(4), u.rem(4) + 2vw, u.rem(21));
							}
						}
					}
				}
			}
		}
	}
}

// =======JS:add class===========
.active li {
	border-bottom: u.rem(4) solid g.$Soft-Red;
	color: g.$Very-Dark-Blue;
}
