// ### Primary

$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Blue2: hsla(231, 69%, 60%, 0.048);
$Soft-Blue3: hsla(231, 69%, 60%, 0.295);


$Soft-Red: hsl(0, 94%, 66%);

// ### Neutral

$Grayish-Blue: hsl(229, 8%, 60%);
$Grayish-Blue2: hsla(229, 8%, 60%, 0.041);
$Very-Dark-Blue: hsla(229, 31%, 21%, 0.978);
$white: #fff;
